<!-- Loop over each object in the blogs array -->
{{#each blogs as |b| }}
<a href="/blogs/{{b.id}}"><div class="row mb-4 blog">
  <div class="col-md-5">
    <h2>
      <!-- Call helper function with triple brackets to render the emoji span as HTML -->
      {{{get_emoji}}}
      {{b.title}}
    </h2>
    <p>Created by {{b.user.name}} on {{format_date b.date_created}}</p>
  </div>
  <div class="col-md-7">
    <p>
      {{b.description}}
    </p>
  </div>
</div></a>
{{/each}}